In [34]:
import numpy as np
import pandas as pd

In [37]:
import numpy as np
import pandas as pd

In [39]:
ser= pd.Series(np.random.random(5), name='Column 01')

In [40]:
ser

0    0.021476
1    0.643524
2    0.041774
3    0.958523
4    0.447091
Name: Column 01, dtype: float64

In [41]:
ser[2]

0.04177383082501662

In [44]:
import yfinance as yf

In [45]:
data = yf.download('GRSE.NS',start='2020-01-01',end='2024-11-27')
df = pd.DataFrame(data)
df

[*********************100%***********************]  1 of 1 completed

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,GRSE.NS,GRSE.NS,GRSE.NS,GRSE.NS,GRSE.NS,GRSE.NS
Date,,,,,,
2020-01-01,174.756271,198.600006,200.699997,197.800003,199.250000,59447
2020-01-02,184.611588,209.800003,212.699997,196.149994,198.000000,591261
2020-01-03,180.431870,205.050003,211.000000,203.500000,209.699997,163765
2020-01-06,170.180542,193.399994,204.000000,192.050003,204.000000,292445
2020-01-07,171.720474,195.149994,199.800003,194.149994,196.699997,172449
...,...,...,...,...,...,...
2024-11-19,1409.250000,1409.250000,1456.000000,1401.400024,1422.000000,411727
2024-11-21,1381.650024,1381.650024,1424.900024,1377.599976,1422.000000,394303
2024-11-22,1375.300049,1375.300049,1398.000000,1371.000000,1391.900024,336103
2024-11-25,1443.050049,1443.050049,1450.000000,1415.000000,1434.849976,463461
2024-11-26,1539.800049,1539.800049,1579.000000,1438.349976,1449.699951,2342205

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1214 entries, 2020-01-01 to 2024-11-26
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   (Adj Close, GRSE.NS)  1214 non-null   float64
 1   (Close, GRSE.NS)      1214 non-null   float64
 2   (High, GRSE.NS)       1214 non-null   float64
 3   (Low, GRSE.NS)        1214 non-null   float64
 4   (Open, GRSE.NS)       1214 non-null   float64
 5   (Volume, GRSE.NS)     1214 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 66.4 KB

In [47]:
df.head()

Price        Adj Close       Close        High         Low        Open  Volume
Ticker         GRSE.NS     GRSE.NS     GRSE.NS     GRSE.NS     GRSE.NS GRSE.NS
Date
2020-01-01  174.756271  198.600006  200.699997  197.800003  199.250000   59447
2020-01-02  184.611588  209.800003  212.699997  196.149994  198.000000  591261
2020-01-03  180.431870  205.050003  211.000000  203.500000  209.699997  163765
2020-01-06  170.180542  193.399994  204.000000  192.050003  204.000000  292445
2020-01-07  171.720474  195.149994  199.800003  194.149994  196.699997  172449

In [51]:
tickers = ['PG', 'MSFT', 'T', 'F', 'GE']
new_data = pd.DataFrame()
for t in tickers:
    new_data[t] = yf.download(t, start='2020-1-1')['Adj Close']

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [52]:
new_data.tail()

                    PG        MSFT      T      F          GE
Date
2024-11-22  176.279999  417.000000  23.18  11.18  181.149994
2024-11-25  177.389999  418.790009  23.10  11.40  180.210007
2024-11-26  179.309998  427.989990  23.09  11.10  184.600006
2024-11-27  179.360001  422.989990  23.27  11.10  180.600006
2024-11-29  179.259995  423.459991  23.16  11.13  182.160004

In [53]:
tickers1 = ['tcs.ns', 'infy.ns']
a = pd.DataFrame()
for t1 in tickers1:
    a[t1] = yf.download(t1, start='2020-01-01')['Adj Close']

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [56]:
a.head()

                 tcs.ns     infy.ns
Date
2020-01-01  2015.370361  661.205139
2020-01-02  2006.119019  659.276001
2020-01-03  2046.098755  669.415894
2020-01-06  2045.913574  662.999817
2020-01-07  2050.934082  653.174072

In [57]:
a.tail()

                 tcs.ns      infy.ns
Date
2024-11-25  4315.100098  1889.699951
2024-11-26  4352.700195  1924.150024
2024-11-27  4332.549805  1924.500000
2024-11-28  4244.899902  1856.650024
2024-11-29  4270.850098  1857.849976

In [65]:
import iex

In [66]:
df=pd.DataFrame()
#data = yf.download('GRSE.NS',start='2020-01-01',end='2024-11-27')
data1= iex.download("PG", start="2020-01-01")

AttributeError: module 'iex' has no attribute 'download'

In [76]:
data.tail

<bound method NDFrame.tail of Price         Adj Close        Close         High          Low         Open  \
Ticker          GRSE.NS      GRSE.NS      GRSE.NS      GRSE.NS      GRSE.NS
Date
2020-01-01   174.756271   198.600006   200.699997   197.800003   199.250000
2020-01-02   184.611588   209.800003   212.699997   196.149994   198.000000
2020-01-03   180.431870   205.050003   211.000000   203.500000   209.699997
2020-01-06   170.180542   193.399994   204.000000   192.050003   204.000000
2020-01-07   171.720474   195.149994   199.800003   194.149994   196.699997
...                 ...          ...          ...          ...          ...
2024-11-19  1409.250000  1409.250000  1456.000000  1401.400024  1422.000000
2024-11-21  1381.650024  1381.650024  1424.900024  1377.599976  1422.000000
2024-11-22  1375.300049  1375.300049  1398.000000  1371.000000  1391.900024
2024-11-25  1443.050049  1443.050049  1450.000000  1415.000000  1434.849976
2024-11-26  1539.800049  1539.800049  1579.000000  1438.349976  1449.699951

Price        Volume
Ticker      GRSE.NS
Date
2020-01-01    59447
2020-01-02   591261
2020-01-03   163765
2020-01-06   292445
2020-01-07   172449
...             ...
2024-11-19   411727
2024-11-21   394303
2024-11-22   336103
2024-11-25   463461
2024-11-26  2342205

[1214 rows x 6 columns]>

In [79]:
data.set_index('Date')

KeyError: "None of ['Date'] are in the columns"